%body
  .thing{style:'position:absolute;top:0;bottom:0;right:0;left:0;margin:auto;width:400px;height:100px;'}
    You are not logged in. Please log in before proceeding to the awesome application.
    %center
      %form{action: '/sessions', method: 'POST'}
        %input{type: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
        %input{type: 'submit', value: "Enter the awesome."}
