%head
  %meta{:name => 'viewport', :content => 'minimal-ui,width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'}
  :javascript
      $(function() {
        ko.applyBindings(new VenueListViewModel());
      });

%body.venue-list
  .venues-list-section
    .view-header
      Lunch Options
    %span{'data-bind' => 'visible:isLoading', :class => 'loading'}
      LOADING ...

    .list-group{'data-bind' => 'foreach: venueArray'}
      .r-sm-h.list-group-item{'data-bind' => 'text: name'}
      .r-l-h.list-group-item
        .thumb.pull-left{'data-bind' => 'text: initial'}
          N
        .list-group-item-heading{'data-bind' => 'text: name'}
        .list-group-item-text
          .description{'data-bind' => 'text:description'}
          .address{'data-bind' => 'text:address'}

  .venues-add-section
    %button.view-header{'data-bind' => 'click: toggleAddVenue'}
      Add Lunch Option
    .input-group
      %form{'data-bind' => 'submit: addVenue, slideVisible: isShowingAddVenue'}

        %span{'data-bind' => 'text: errors().name', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newVenue', :type => 'text', :placeholder => 'venue name (required)'}
        %span{'data-bind' => 'text: errors().description', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newDesptn', :type => 'text', :placeholder => 'venue description (required)'}
        %span{'data-bind' => 'text: errors().address', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newAddress', :type => 'text', :placeholder => 'venue address (required)'}

        %button{:type => 'submit', :style => "display:block"}
          Add

