%head
  %meta{:name => 'viewport', :content => 'minimal-ui,width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'}
  :javascript
      $(function() {
        ko.applyBindings(new VenueListViewModel());
      });

%body.venue-page
  .venues-list-section
    .venue-header
      Lunch Options
    %span{'data-bind' => 'visible:isLoading', :class => 'loading'}
      LOADING ...
    .venue-list{'data-bind' => 'foreach: venueArray'}
      .min-view.venue-item
        .min-thumb{'data-bind' => 'text: initial'}
          ?
        .venue-item-heading{'data-bind' => 'text: name'}
        .venue-item-text{'data-bind' => 'text:description'}
      .max-view.venue-item
        .max-thumb{'data-bind' => 'text: initial'}
          ?
        .venue-item-heading{'data-bind' => 'text: name'}
        .venue-item-text
          .description{'data-bind' => 'text:description'}
          .address{'data-bind' => 'text:address'}

  .venues-add-section
    %button.venue-header.addVenue-toggle{'data-bind' => 'click: toggleAddVenue'}
      Add Lunch Option
    .addVenue-group
      %form{'data-bind' => 'submit: addVenue, slideVisible: isShowingAddVenue'}

        %span.error-label{'data-bind' => 'text: errors().name', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newVenue, css: { errorInputBox: errors().name != null}', :type => 'text', :placeholder => 'venue name (required)'}
        %span.error-label{'data-bind' => 'text: errors().description', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newDesptn, css: {errorInputBox: errors().description != null}', :type => 'text', :placeholder => 'venue description (required)'}
        %span.error-label{'data-bind' => 'text: errors().address', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newAddress, css: {errorInputBox: errors().address != null}', :type => 'text', :placeholder => 'venue address (required)'}

        %button.addVenue-button{:type => 'submit', :style => "display:block"}
          Add

