%head
  %meta{:name => 'viewport', :content => 'minimal-ui,width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no'}
  :javascript
      $(function() {
        ko.applyBindings(new LunchApp.VenueListViewModel());
      });

%body.venue-page
  .in-or-not-section{'data-bind' => 'visible: inOrNotIsShowing'}
    %button.in-or-not-header{'data-bind' => 'text: attendStatusText, click: toggleInOrNotShow, css: { expanded: inOrNotChoiceShowing() == true}'}
    .in-or-not-choice{'data-bind' => 'slideVisible: inOrNotChoiceShowing'}
      %button.in-button{'data-bind' => 'click: function() { setUserStatus(true); }'}
        I'm in
        .tick
      %button.not-in-button{'data-bind' => 'click: function() { setUserStatus(false); }'}
        Not in
        .cross

  .winning-venue-section{'data-bind' => 'visible: winnerIsShowing' }
    %button.venue-header.addVenue-toggle{'data-bind' => 'click: toggleWinningSubsection, css: { venueHeaderexpanded: isWinningSubsectionShowing() == true}'}
      Winner:
      %span{'data-bind' => 'text: winner'}
    .winner-subsection-wrapper{'data-bind' => 'slideVisible: isWinningSubsectionShowing'}
      .submit-order{'data-bind' => 'visible: submitFormIsShowing' }
        %span.unhappy-notice{'data-bind' => 'text: unhappyNotice'}
        %form{'data-bind' => 'submit: submitOrder'}
          %input.form-control.order-form{'data-bind' => 'value: newOrder', :type => 'text', :placeholder => 'Please enter your order here'}
          %button.submit-order-button{:type => 'submit', :style => "display:block"}
            Submit
      .submitted-order{'data-bind' => 'visible: editFormIsShowing' }
        %span.unhappy-notice{'data-bind' => 'text: unhappyNotice'}
        %br
        %span.indicator
          Your saved order is:
        %form{'data-bind' => 'submit: editOrder'}
          .saved-order
            %span.order-content{'data-bind' => 'text: savedOrder'}
              This is my order
          %button.edit-order-button{:type => 'submit', :style => "display:block"}
            Edit
      .order-list-section{'data-bind' => 'visible: orderListIsShowing'}
        %span.order-list-heading
          This week's orders:
        .order-list{'data-bind' => 'foreach: orderArray'}
          .order-item
            %span.order-owner{'data-bind' => 'text: id'}
            %br
            %span.order-list-content{'data-bind' => 'text: order'}


  .venues-list-section
    %button.venue-header.addVenue-toggle{'data-bind' => 'click: toggleVenueList, css: { venueHeaderexpanded: isShowingVenueList() == true}'}
      Lunch Options
      %span{'data-bind' => 'visible:isLoading', :class => 'loading'}
        ='...'
    .venue-list{'data-bind' => 'foreach: venueArray, slideVisible: isShowingVenueList'}
      .min-view.venue-item
        .min-thumb{'data-bind' => 'text: initial'}
          ?
        %a.venue-item-heading{'data-bind' => 'text: name, href: menu_link'}
        .venue-item-text{'data-bind' => 'text:description'}
      .max-view.venue-item
        .max-thumb{'data-bind' => 'text: initial'}
          ?
        .rating-group-wrap
          .custom-ratings-group{'data-bind' => 'foreach: availableRatingNumbers'}
            .custom-rating{'data-bind' => 'click: function() { $parent.setRatingTo(value); }'}
              .rate{'data-bind' => 'css: ($parent.rating()==value ? " selected" : "") + " icon" + value'}
        %a.venue-item-heading{'data-bind' => 'text: name , attr: {href: menu_link}', target:'_new'}
        .venue-item-text
          .description{'data-bind' => 'text:description'}
          .address{'data-bind' => 'text:address'}


  .venues-add-section
    %button.venue-header.addVenue-toggle{'data-bind' => 'click: toggleAddVenue, css: { addHeaderexpanded: isShowingAddVenue() == true}'}
      Add Lunch Option
    .addVenue-group
      %form{'data-bind' => 'submit: addVenue, slideVisible: isShowingAddVenue'}
        %span.error-label{'data-bind' => 'text: errors().name', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newVenue().name, css: { errorInputBox: errors().name != null}', :type => 'text', :placeholder => 'venue name (required)'}
        %span.error-label{'data-bind' => 'text: errors().description', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newVenue().description, css: {errorInputBox: errors().description != null}', :type => 'text', :placeholder => 'venue description (required)'}
        %span.error-label{'data-bind' => 'text: errors().address', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newVenue().address, css: {errorInputBox: errors().address != null}', :type => 'text', :placeholder => 'venue address (required)'}
        %span.error-label{'data-bind' => 'text: errors().menu_link', :style => "display:block"}
        %input.form-control{'data-bind' => 'value: newVenue().menu_link, css: {errorInputBox: errors().menu_link != null}', :type => 'text', :placeholder => 'venue website/menu url'}

        %button.addVenue-button{:type => 'submit', :style => "display:block"}
          Add


