
<meta name="viewport" content="width=device-width, initial-scale=1">
<head><h3>Rcommended Venues</h3></head>
<body>


<span data-bind="visible:isLoading" class="loading">LOADING ...</span>
<div class="list-group custom-list-group" data-bind="foreach: venueArray">
  <a href="#" class="list-group-item active custom-item-active">
    <h4 class="list-group-item-heading custom-item-heading" data-bind="text: name">Loading ...</h4>
    <p class="list-group-item-text custom-list-item" data-bind="text: description"></p>
    <p class="list-group-item-text custom-list-item" data-bind="text: address"></p>

  </a>
</div>
	 

<div class="panel panel-success custom-panel" >
	<div class="panel-heading custom-panel-heading">Add new venue</div>
	<div class="input-group custom-style-input " >
	<form data-bind="submit: addVenue">
		<!-- <span class="input-group-addon jojo-addon">new venues</span> -->
		<input data-bind="value: newVenue" type="text" class="form-control" placeholder="venue name" />
		<input data-bind="value: newDesptn" type="text" class="form-control" placeholder="venue description"/>
	    <input data-bind="value: newAddress" type="text" class="form-control" placeholder="venue address" />
	    <br><button type="submit" >Add</button>
     </form>
    </div>
</div>

</body>