.venues-list-section {
  .additional-data {
    font-size: 9px;
  }
}

@media (min-width: 750px) {
  .venues-list-section {
    float:left;
    margin-left: 10px;
    width: 48%;
  }
  .venues-add-section {
    float: right;
    margin-right: 10px;
    width: 48%;
  }
}

@media (max-height: 480px) {
  .r-l-h {
    display: none;
  }
}
@media (min-height: 481px) {
  .r-sm-h {
    display: none;
  }
}

.custom-list-group{
	border: 11px;
	padding: 0;
	margin: 0;

}
.custom-item-active{
	padding: 0;
}
.custom-item-heading{
	padding:8px;
}
@media (max-width: 600px){}
.custom-list-item{
  background-color: #00CCFF

}
.custom-addon{
  background-color: #FF9900;
  border: 0;

}

.custom-panel{
	/*background-color: #FF9900;*/
	border-color: #FF9900;
}
.panel-success>.custom-panel-heading{
    background-color: #FF9900;
    border:0;
}
/*.panel-heading{
    background-color: #FF9900;
}
*/

 /*.jojo-body {
    background: #FFFF00;
  }
*/