.view-header {
  width: 100%;
  font-size: 20pt;
  text-align: center;
  color: #444;
  font-weight: 200;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', sans-serif;
}

body.venue-list {
  background: linear-gradient(to right, #f2cbc2, #f7d1c8);
}