body.login {
  background: #FFFFFF;
}

.thing {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 650px;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  .logo {
    width: 600px;
  }
}

input {
  border-radius: 10px;
  margin: 0;
  padding: 7px 7px 7px 12px;
  color: #f8f5f5;
  background-color: #FF9933;
  border: 1px solid #FF6600;
  font-size: 20px;
}

input.username {
  background-color: #f2cbb6;
  color: #aa3300;
  border: 1px solid #FF6600;
  width: 300px;
}

input.username:focus {
  background-color: #ffffff;
  border: 1px solid #ff4d00;
}

.welcome-msg {
  font-weight: 300;
  .highlighted {
    font-weight: 500;
  }
}

@media (max-height: 600px) and (max-width: 650px) {
  .thing {
    width: 325px;
    height: 370px;
    border: none;
    background: none;
    .logo {
      width: 300px;
    }
    input.username {
      width: 140px;
    }
  }
}

