body.venue-list {
  //  background: linear-gradient(to right,#f2f2f2, #bababa);
  font-size: 16px;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  background-color: #f7f8f8;
}

button {
  border: 0px;
}

button:hover {
  background-color: #FF9933;
  color: #ffffff;
  border: 0px;
}

.input-group.addBtn {
  border:1px,solid;
  border-color: #000000;
  background-color: #ffffff;

}
.venues-list-section {
  -moz-box-shadow: 3px 3px 3px #888888;
  box-shadow: 3px 3px 3px #888888;
  .thumb {
    background-color: #FF9933;
    color: #ffffff;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 8px;
    font-size: 34px;
    text-transform: uppercase;

  }
  .hideThumb{
    background-color: #FF9933;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
    text-transform: uppercase;
  }
  .list-group-item-heading {
    //    background-color: #f3ecec;
    //    margin-left: 100px;
    padding-left: 70px;
    font-weight: 500;
    color: #828181;
  }
  .list-group-item-text {
    font-size: 10.72px;
    margin-left: 70px;
    color: #828181;
    letter-spacing: 0.8px;
  }
}

.errorMsgLabel {
  font-size: 12px;
  color: red;
  padding-left: 10px;
}

.inputBoxError {
  border-color: red;
}

@media (min-width: 750px) {
  .venues-list-section {
    float: left;
    margin-left: 10px;
    width: 48%;
  }
  .venues-add-section {
    float: right;
    margin-right: 10px;
    width: 48%;

  }
}

@media (max-height: 480px) {
  .r-l-h {
    display: none;

  }
}

@media (min-height: 481px) {
  .r-sm-h {
    display: none;
  }
}

